body {
  background-image: url(../../public/background.png); 
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-template-columns: max-content max-content 800px auto;
  grid-template-rows: max-content max-content max-content max-content max-content 100px;
  column-gap: 15px;
}

.home-icon-calendar{
  max-width: 5vh;
  max-height: 5vh;
  grid-row-start: 1;
  grid-column-start: 1;
}

.home-schedulr {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  grid-column-start: 2;
}

.home-about-us {
  color: #4765f8;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  grid-column-start: 4;
  grid-row-start: 2;
}

.home-content-h1 {
  margin: 0%;
  color: #0e0e0e;
  font-family: "Poppins", Helvetica;
  font-size: 80px;
  font-weight: 1;
  width: 650px;
  grid-column-start: 4;
  grid-row-start: 3;
}

.home-content-p {
  color: #999191;
  font-family: "Roboto", Helvetica;
  font-size: 32px;
  font-weight: 400;
  grid-column-start: 4;
  grid-row-start: 5;
  width: 650px;
}

.home-button {
  height: 58px;
  width: 215px;
  background-color: #4765F8;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  color: white;
  grid-column-start: 4;
  grid-row-start: 6;
  border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
